# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

target/
classes/
.class
.project
settings/
lry_webapp/.project
*.project
lry_core/.classpath

lry_core/src/main/lib/httpcore-4.3.2.jar

lry_core/src/test/java/com/lanrenyou/test/JunitBase/SolrjTest.java

lry_core/src/main/lib/solr-solrj-4.2.0.jar

lry_webapp/src/main/java/com/lanrenyou/solrtest/SolrDocBean.java

lry_webapp/src/main/java/com/lanrenyou/solrtest/SolrjTest.java

lry_webapp/src/main/webapp/WEB-INF/lib/solr-solrj-4.2.0.jar

lry_webapp/.classpath

lry_search/.classpath

lry_webapp/.classpath

lry_search/.classpath

lry_webapp/.classpath

lry_webapp/bin

lry_search/bin