<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.lanrenyou.admin.dao.IAdminRoleDao" >
  <resultMap id="BaseResultMap" type="com.lanrenyou.admin.model.AdminRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_uid" property="createUid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status, create_uid, create_time, create_ip, update_uid, update_ip
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_admin_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanrenyou.admin.model.AdminRole" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_admin_role (name, status, create_uid, 
      create_time, create_ip, update_uid, 
      update_ip)
    values (#{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createUid,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createIp,jdbcType=VARCHAR}, #{updateUid,jdbcType=INTEGER}, 
      #{updateIp,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanrenyou.admin.model.AdminRole" >
    update tb_admin_role
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_uid = #{createUid,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_ip = #{createIp,jdbcType=VARCHAR},
      update_uid = #{updateUid,jdbcType=INTEGER},
      update_ip = #{updateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_admin_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_admin_role
  </select>
</mapper>