/* 
 * 懒人游主体样式
 * mr.sheak@gmail.com
 * 20140705
 */
.waper_box{ max-width: 1200px; min-width: 960px; margin: 20px auto;}
.waper_box h1.warper_tt{ font-size: 30px; color: #333; padding-left: 40px; margin-bottom: 30px; position: relative;}

.warper_tab{ height: 40px; line-height: 40px; border-bottom: 1px solid #d3d3d3; margin-bottom: 20px;}
.warper_tab li{height: 39px; line-height: 39px; float: left; font-size: 14px; color: #333; padding: 0 30px; border-radius: 3px;}
.warper_tab li.cur{border: 1px solid #d3d3d3; border-bottom: 3px solid #f6f6f6;}
.warper_tab li a{ color: #305d8a; padding: 8px 10px;}

/*找游记*/
.yj_list{ width: 1240px;}
.yj_list .yj_item{ float: left; width: 570px; margin:0 20px 20px 0; background: #fff; padding:10px; box-shadow: 0 0 7px #c7c7c7;}
.yj_list .yj_item > dl{ position: relative; width: 570px; height: 370px; overflow: hidden;}
.yj_list .yj_item > dl > dd{}
.yj_list .yj_item > dl > dd img{ display: block; width: 570px; height: 370px;}

.yj_list .yj_item > dl > dt{ position: absolute; width: 530px; padding:30px 20px; height: 310px;}
.yj_list .yj_item > dl > dt > a{ display: block; width: 550px; height: 340px; position: absolute; top:0; left:0; padding:30px 0 0 20px ;}
.yj_list .yj_item > dl > dt h2{ color: #fff; font-size: 24px; height: 34px; line-height: 34px; overflow: hidden;}

.yj_list .yj_item > dl > dt .yj_author{ position: relative; padding-left: 28px; height: 24px; line-height: 24px; color: #fff; margin-top: 45px;}
.yj_list .yj_item > dl > dt .yj_author img.u_sm{ width: 24px; height: 24px; position: absolute; left:0; top:0;}
.yj_list .yj_item > dl > dt .yj_author .author_link > a{ color: #010101; text-decoration: underline; margin-right: 10px;}
.yj_list .yj_item > dl > dt .yj_author .author_link .author_info{ position: absolute; width: 280px; height: 120px; top:30px; left:0; padding: 10px; background-color:rgba(255,255,255,0.85); *background:#000; *filter:alpha(opacity=85);}
.author_info *{position: relative; color: #000;}

.author_tt{ position: absolute; top:-12px; left:40px; width: 260px; height: 16px;}

.author_detail{ }
.author_detail dl{position: relative; height: 50px; padding-left: 60px;}
.author_detail dl dt{ position: absolute; width: 60px; top:0; left:0;}
.author_detail dl dt.add_form{ left:222px; top:2px; z-index:40;}
.author_detail dl dt img , .planner_face img{ display: block; width: 45px; height: 45px; padding: 2px; border: 1px solid #ccc;}
.author_detail dl dd{ padding-top: 5px;}
.author_detail dl dd p{ margin-top: 5px;}
.author_detail dl dd p span{ margin-right: 10px; color: #333;}
.vip_ico a{ color: #305d8a !important; font-weight: bold;}

.author_yj_last{ margin-top: 10px;}
.author_yj_last li{}
.author_yj_last li a{ color: #305d8a !important;}
.author_yj_last li a:hover{ text-decoration: underline;}
.author_yj_last .gray{ color: #ccc; border-bottom: 1px solid #ccc; padding-bottom: 5px; margin-bottom: 5px;}

.yj_info{ background: #000; color: #fff; width: 100%; height: 80px; position: absolute; bottom: 0; left:0; padding:20px; line-height: 24px; background-color:rgba(0,0,0,0.55); *background:#000; *filter:alpha(opacity=55);}
.yj_info *{position: relative; color: #000;}


/*找规划师*/
.planner_search{ position: absolute; top:4px; left:190px;}
.search_btn{background-color: #efefef; text-align: center; color: #000 !important; display: block; width: 66px; height: 34px; line-height: 34px; position: absolute; top:0px; left:221px; border: 1px solid #ddd;}
.planner_list{width: 1240px;}
.planner_item{float: left; margin:0 20px 20px 0; background: #fff; padding:10px; box-shadow: 0 0 7px #c7c7c7; height: 235px;  width: 570px; }
.planner_item > dl{ position: relative;}
.planner_item > dl > dt{ float: left;}
.planner_item > dl > dd{}
.planner_item > dl > dd.planner_name{ float: left; margin: 15px 0 0 20px;}
.planner_item > dl > dd.planner_info{ float: right; padding:13px 140px 10px 0;}
.planner_item > dl > dd.planner_info span{ margin-right: 10px;}
.planner_item > dl > dd.planner_info a.btn_s{ position: absolute;}
.planner_item > dl > dd.planner_info .add_btn{ top:10px; right:60px;}
.planner_item > dl > dd.planner_info .msg_btn{ top:10px; right:0px;}

.planner_item .planner_yj_list{ margin-top: 10px;}
.planner_item .planner_yj_list .more_yj{ text-align: right; border-bottom: 1px solid #ccc; padding-bottom: 4px; margin-bottom: 10px;}
.planner_item .planner_yj_list .more_yj a{ text-decoration: underline; color: #364758;}
.planner_item .planner_yj_list .planner_yj_detail{ padding: 0 5px;}
.planner_item .planner_yj_list .planner_yj_detail img{ width: 184px; height: 110px; display: block;}
.planner_item .planner_yj_list .planner_yj_detail .right li{ position: relative; width: 360px; height: 28px; line-height: 28px;}
.planner_item .planner_yj_list .planner_yj_detail .right li a{ color: #305d8a; position: absolute; left:0; top:0;}
.planner_item .planner_yj_list .planner_yj_detail .right li a:hover{ text-decoration: underline;}
.planner_item .planner_yj_list .planner_yj_detail .right li span{ position: absolute; right:0; top:0; color: #9b9b9b;}


/*搜索*/
.search_icon{ background-position: -832px -232px;}
.no_result{ font-size: 24px; color: #6e6e6e; text-align: center; padding:130px 0;}

#back_to_login{ text-align: center;}
#back_to_login h2{ font-size: 24px; margin-bottom: 10px;}
#back_to_login p{ font-size: 14px;}

/*撰写*/
.create_icon{ background-position: -832px -98px;}
.add_photo_form_box{}
.add_photo_form_box table{ margin: 15px 0;}
.add_photo_form_box table tr{ height: 50px; line-height: 50px;}
.add_photo_form_box table tr td{ font-size: 14px;}
#add_photo_box{ width: 90%; background: #ebebeb; border-radius: 4px; padding: 20px 30px;}


/*个人中心*/
#u_yj_list{ margin-top: 25px;}
#u_yj_list > li{ padding:10px; background: #eee; position: relative; padding-left: 320px;  height: 190px; margin-bottom: 20px;}
.u_yj_imgDetail{ display: block; width: 285px; height: 190px; position: absolute; left:10px; top:10px;}
.u_yj_txtDetail{ padding-top: 10px;}
.u_yj_txtDetail h2 a{ font-size: 16px; display: inline-block; color: #364758; font-weight: bold; height: 36px; line-height: 36px;}
.u_yj_txtDetail p{ font-size: 12px; color: #333; line-height: 20px;}
.u_yj_author{ position: relative; margin-top: 20px; padding-top: 1px;}
.u_yj_author img{ display: block; width: 26px; height: 26px; position: absolute; top:0 ; left:0;}
.u_yj_author a{ margin-left: 35px; color: #305d8a; font-size: 14px; text-decoration: underline;}

.u_yj_info{ height: 40px; line-height: 40px; position: absolute; left:320px; bottom:10px;}
.u_yj_info a{ position: relative; padding-left: 20px; margin-right: 10px;}

/*粉丝管理*/
#u_fans_tabs{ height: 30px; padding-top: 20px;}
#u_fans_tabs li{ float: left; margin-right: 15px;}
#u_fans_tabs li a{}
.u_fans_search{}
#u_fans_tabs li.msgToName{ font-size: 14px;}
#u_fans_tabs li.msgToName span{ font-size: 16px; font-weight: bold;}


#u_fans_list{margin-top: 25px; overflow: hidden; width: 1260px;}
#u_fans_list li{ float: left; width: 225px; height: 115px; background: #ededed; padding: 15px; border:3px solid #d6d6d6; margin:0 51px 30px 0;}
.u_fans_box img{ display: block; width: 80px; height: 80px; margin-right: 10px;}
.u_fans_links{ margin:15px 0;}
.u_fans_author_info{ margin-top: 10px;  height: 35px; overflow: hidden; font-size: 12px; color: #666;}


/*消息中心*/
#u_msg_list{ margin-top: 10px;}
#u_msg_list li{ padding: 25px 20px 35px 120px; background: #fff; position: relative; margin-bottom: 20px;}
#u_msg_list li.unread{background: #e4e9ef;}
#u_msg_list li.replay{background: #f0f0f0;}
#u_msg_list li input[type=checkbox]{ position: absolute; top:50px; left:20px;}
#u_msg_list li img{ display: block; width: 60px; height: 60px;  position: absolute; top:25px; left:40px;}
#u_msg_list li h2{ font-size: 18px; color: #333; font-weight: bold; float: left;}
#u_msg_list li h3{ font-size: 12px; color: #333; float: left;}
#u_msg_list li p span{ margin-right: 20px;}
#u_msg_list li p span a{ font-weight: bold;}
#u_msg_list #msg_replay{padding-left: 20px !important;}
#u_msg_list #msg_replay textarea{ width: 98%; padding: 10px; border: 1px solid #ccc; margin-bottom: 10px;}

.u_msg_details{ font-size: 14px; color: #333; line-height: 22px; margin-top: 10px; width: 80%;}

/*个人主页*/
#my_box{ position: relative; padding: 10px 0 0 180px; margin-bottom: 20px;}
#my_box .author_img{ position: absolute; left:0; top:0; padding: 3px; border: 1px solid #ccc; background: #fff;}
#my_box .author_img img{ display: block; width: 140px; height: 140px;}
#my_box .authot_info h2.vip_b_ico{ display: inline-block; height: 40px; background-position: right -855px;}
#my_box .authot_info h2 a{ font-size: 30px; line-height: 40px; color: #333 !important;}
#my_box .authot_info .my_add{ position: absolute; top:20px; right:10px;}
#my_box .authot_info .my_add span{ font-weight: bold; color: #364758; margin: 2px 15px 0 0;}
#my_box #author_produ{ color: #999; line-height: 22px;}
#my_box .plan_area dt{ font-weight: bold; font-size: 12px; color: #333;}
#my_box .btn_s{ margin-left: 10px;}
#my_box .msg_btn{ position: relative; cursor: default;}
#my_box .msg_btn .msgForm{ top:30px;}

/*个人资料*/
#u_profile_box{ margin: 20px 0;}
#u_profile_box .u_info_tab{width: 110px; margin:20px 0 0 30px;}
#u_profile_box .u_info_tab li{ width: 110px; height: 46px; line-height: 46px; margin-bottom: 2px; text-align: center; font-size: 14px;}
#u_profile_box .u_info_tab li a{ display: block; width: 110px; text-align: center;}
#u_profile_box .u_info_tab .cur{ background: #fff; border-top-left-radius:5px; -moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-bottom-left-radius:5px; -moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px;}
#u_profile_box .u_info_form_box{ background: #fff; border-radius: 4px; padding:40px 60px; margin-top: 10px; width: 900px;}
#u_profile_box .u_info_form_box table tr td{ height: 46px; line-height: 46px;}
#u_profile_box .u_info_form_box table tr td .ft_14{ margin-right: 15px;}

.u_face_img{ position: relative; height: 160px !important;}
.u_face_img img{ display: inline-block; padding:3px; border: 1px solid #f0f0f0;  position: absolute; bottom: 10px;}
#u_now_face_l{ width: 140px; height: 140px; left:0px;}
#u_now_face_m{ width: 80px; height: 80px; left:160px;}
#u_now_face_s{ width: 24px; height: 24px; left:260px;}



.u_info_form_box .uploadify-button{ background: url(../imgs/user/u_face_input.png) left top no-repeat; width: 391px !important;}



