<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.lanrenyou.user.dao.IUserPlannerDao" >
  <resultMap id="BaseResultMap" type="com.lanrenyou.user.model.UserPlanner" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="target_city" property="targetCity" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="charge_mode" property="chargeMode" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_uid" property="createUid" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_ip" property="createIp" jdbcType="VARCHAR" />
    <result column="update_uid" property="updateUid" jdbcType="INTEGER" />
    <result column="update_ip" property="updateIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, target_city, price, charge_mode, status, create_uid, create_time, 
    create_ip, update_uid, update_ip
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_planner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanrenyou.user.model.UserPlanner" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_user_planner (uid, target_city, price, 
      charge_mode, status, 
      create_uid, create_time, create_ip, 
      update_uid, update_ip)
    values (#{uid,jdbcType=INTEGER}, #{targetCity,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{chargeMode,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{createUid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createIp,jdbcType=VARCHAR}, 
      #{updateUid,jdbcType=INTEGER}, #{updateIp,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanrenyou.user.model.UserPlanner" >
    update tb_user_planner
    set uid = #{uid,jdbcType=INTEGER},
      target_city = #{targetCity,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      charge_mode = #{chargeMode,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      update_uid = #{updateUid,jdbcType=INTEGER},
      update_ip = #{updateIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_planner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_user_planner
  </select>
  
  <select id="getByUid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_planner
    where uid = #{uid,jdbcType=INTEGER}
  </select>
  
  <select id="getListByUidList" resultMap="BaseResultMap" parameterType="java.uitl.Map" >
    select
    <include refid="Base_Column_List" />
    from tb_user_planner
    where uid in 
    	<foreach collection="uidList" item="item" index="index" open="(" separator="," close=")">
            #{item, jdbcType=INTEGER}
        </foreach>
  </select>
</mapper>