<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.lanrenyou.user.dao.IUserFollowDao" >
  <resultMap id="BaseResultMap" type="com.lanrenyou.user.model.UserFollow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fans_uid" property="fansUid" jdbcType="INTEGER" />
    <result column="star_uid" property="starUid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fans_uid, star_uid
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_user_follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanrenyou.user.model.UserFollow" useGeneratedKeys="true" keyProperty="id" >
    insert ignore into tb_user_follow (fans_uid, star_uid)
    values (#{fansUid,jdbcType=INTEGER}, #{starUid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanrenyou.user.model.UserFollow" >
    update tb_user_follow
    set fans_uid = #{fansUid,jdbcType=INTEGER},
      star_uid = #{starUid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_user_follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_user_follow
  </select>
  <select id="getFansCountByUid" resultType="java.lang.Integer" parameterType="java.util.Map">
    select
    count(1)
    from tb_user_follow
    where star_uid = #{starUid,jdbcType=INTEGER}
  </select>
  <select id="getFansByUid" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tb_user_follow
    where star_uid = #{starUid,jdbcType=INTEGER} limit #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER} 
  </select>
  
  <select id="getStarCountByUid" resultType="java.lang.Integer" parameterType="java.util.Map">
    select
    count(1)
    from tb_user_follow
    where fans_uid = #{fansUid,jdbcType=INTEGER}
  </select>
  <select id="getStarByUid" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tb_user_follow
    where fans_uid = #{fansUid,jdbcType=INTEGER} limit #{offset, jdbcType=INTEGER}, #{limit, jdbcType=INTEGER} 
  </select>
  
  <delete id="deleteByFansUidAndStartUid" parameterType="java.util.Map">
    delete from tb_user_follow
    where fans_uid = #{fansUid,jdbcType=INTEGER} and star_uid = #{starUid, jdbcType=INTEGER}
  </delete>
  
  <select id="getFansCountMapByUidList" resultType="java.util.Map" parameterType="java.lang.Integer" >
    select
    	star_uid, count(1) as cnt
    from tb_user_follow
    where star_uid in <foreach collection="uidList" open="(" close=")" item="item" separator=",">#{item, jdbcType=INTEGER}</foreach> group by star_uid
  </select>
  
  <select id="getStarCountMapByUidList" resultType="java.util.Map" parameterType="java.lang.Integer" >
    select
    	fans_uid, count(1) as cnt
    from tb_user_follow
    where fans_uid in <foreach collection="uidList" open="(" close=")" item="item" separator=",">#{item, jdbcType=INTEGER}</foreach> group by fans_uid
  </select>
  
  <select id="getByFansUidStarUid" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tb_user_follow
    where fans_uid = #{fansUid,jdbcType=INTEGER} and star_uid = #{starUid,jdbcType=INTEGER}
  </select>
</mapper>