<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd" >
<mapper namespace="com.lanrenyou.travel.dao.ITravelContentDao" >
  <resultMap id="BaseResultMap" type="com.lanrenyou.travel.model.TravelContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="travel_date" property="travelDate" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tid, travel_date, content
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_travel_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lanrenyou.travel.model.TravelContent" useGeneratedKeys="true" keyProperty="id" >
    insert into tb_travel_content (tid, travel_date, content
      )
    values (#{tid,jdbcType=INTEGER}, #{travelDate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lanrenyou.travel.model.TravelContent" >
    update tb_travel_content
    set tid = #{tid,jdbcType=INTEGER},
      travel_date = #{travelDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_travel_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from tb_travel_content
  </select>
  
  <select id="getByTid" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tb_travel_content
    where tid=#{tid, jdbcType=INTEGER}
  </select>
  
  <select id="getByTidList" resultMap="BaseResultMap" parameterType="java.util.Map">
    select
    <include refid="Base_Column_List" />
    from tb_travel_content
    where tid in 
    	<foreach collection="tidList" item="item" index="index" open="(" separator="," close=")">
            #{item, jdbcType=INTEGER}
        </foreach>
  </select>
</mapper>